@using WebDinhDuong.Models;
@model IEnumerable<LoadNDKeHoach>
@foreach (var groupItem in Model)
{
<div>
    @groupItem.TenMon    Số lương: @groupItem.SoLuong
    <a href="@Url.Action("Sua", "QuanLyKeHoach", new { idmon = groupItem.IdMon, idthu = "5", idbuoi = "3" , date=groupItem.Ngay, ghichu=groupItem.GhiChu})">Sửa</a>
    <a href="@Url.Action("Xoa", "QuanLyKeHoach", new { idmon = groupItem.IdMon, idthu = "5", idbuoi = "3" })"> Xóa</a>
</div>}