
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login_failed</title>

</head>
<body>
    <div>
        <h4> Sai tài khoản hoặc mật khẩu </h4>
        <a href='javascript:history.go(-1)'>Please login again here</a>
    </div>
</body>
</html>

