@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<title>MRS Mall a Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!--for-mobile-apps-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="MRS Mall Responsive Website Template, Web Templates, Flat Web Templates, Android Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//for-mobile-apps-->
<!-- Custom-Theme-Files -->
<!-- Bootstrap-CSS -->
<link rel="stylesheet" href="~/Assets/Home/css/bootstrap.min.css">
<!-- JQuery -->
<script src="~/Assets/Home/js/jquery.min.js"></script>
<!-- Bootstrap-Main -->
<script src="~/Assets/Home/js/bootstrap.min.js"></script>
<!-- Index-Page-Styling -->
<link rel="stylesheet" href="~/Assets/Home/css/style.css" type="text/css" media="all">
<!-- Font-awesome-Styling -->
<link rel="stylesheet" href="~/Assets/Home/css/font-awesome.css" type="text/css" media="all">


<!-- Js for Responsive slider -->
<script src="~/Assets/Home/js/modernizr.js" type="text/javascript"></script>
<script src="~/Assets/Home/js/responsiveslides.min.js"></script>
<script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });
</script>

<!--JS for animate-->
<link href="~/Assets/Home/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="~/Assets/Home/js/wow.min.js"></script>
<script>
        new WOW().init();
</script>
<!--//end-animate-->

<script src="~/Assets/Home/js/jquery.countdown.js"></script>
<script src="~/Assets/Home/js/script.js"></script>
<link rel="stylesheet" href="~/Assets/Home/css/jquery.countdown.css" />
<link rel="stylesheet" href="~/Assets/Home/css/swipebox.css">
<div class="s-banner">
    <!--banner -->

</div> <!--//banner -->
<div class="s-grid1">
    <div class="container">
        <div class="s-grid1-padding-w3ls">
            <h2>Diet</h2>
            <div class="col-md-3 feature-grid text-center">
                <div class="feature-grid-one">
                    <a href="#" class="hi-icon hi-icon-archive"> <i class="fa fa-heart" aria-hidden="true"></i> </a>
                    <h4>Eat Clean</h4>
                    <p>Based on the belief that consuming whole foods and avoiding convenience food and other processed foods offers certain health benefits.</p>
                </div>
            </div>
            <div class="col-md-3 feature-grid text-center">
                <div class="feature-grid-one">
                    <a href="#" class="hi-icon hi-icon-archive"><i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                    <h4>Keto</h4>
                    <p>A diet low in carbohydrates (carbs) and high in good fats. Keto menu helps the body burn more energy without having to strict diet.</p>
                </div>
            </div>
            <div class="col-md-3 feature-grid text-center">
                <div class="feature-grid-one">
                    <a href="#" class="hi-icon hi-icon-archive"><i class="fa fa-tag" aria-hidden="true"></i> </a>
                    <h4>Low Carb</h4>
                    <p>Diets that limit carbohydrate intake and increase the proportion of protein and fat in the diet, used for the main purpose of weight loss.</p>
                </div>
            </div>
            <div class="col-md-3 feature-grid text-center">
                <div class="feature-grid-one">
                    <a href="#" class="hi-icon hi-icon-archive"><i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
                    <h4>Intermittent Fasting</h4>
                    <p>An eating pattern that cycles between periods of fasting and eating. it can be hard to maintain.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //s-grid1 -->
    <!-- Shopping-grid2-->
    <div class="s-grid2">
        <div class="s-grid2-padding-agileinfo">

            <div class="s-grid2-a">
                <div class="col-md-6 col-grid-left">
                    <h3>Nutrition</h3>
                    <h5>Nutrition is a critical part of health and development</h5>
                    <p>Better nutrition is related to improved infant, child and maternal health, stronger immune systems, safer pregnancy and childbirth, lower risk of non-communicable diseases (such as diabetes and cardiovascular disease), and longevity.Healthy children learn better. People with adequate nutrition are more productive and can create opportunities to gradually break the cycles of poverty and hunger.</p>
                </div>
                <div class="col-md-6 col-grid-right">
                    <div class="col-md-6 col-grid-1">
                        <div class="col-1 bottom">
                            <div class="col-1-top">
                                <img src="~/Assets/Home/images/i6.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-grid-1">
                        <div class="col-1 bottom">
                            <div class="col-1-top">
                                <img src="~/Assets/Home/images/i3.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6 col-grid-1">
                            <div class="col-1 bottom">
                                <div class="col-1-top">
                                    <img src="~/Assets/Home/images/i3.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-grid-1">
                            <div class="col-1 bottom">
                                <div class="col-1-top">
                                    <img src="~/Assets/Home/images/i4.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>*@
                    @*<div class="clearfix"></div>*@
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="s-grid2-a">
                <div class="col-md-6 col-grid-right">

                    <div class="col-md-6 col-grid-1">
                        <div class="col-1 bottom">
                            <div class="col-1-top">
                                <img src="~/Assets/Home/images/protein.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-grid-1">
                        <div class="col-1 bottom">
                            <div class="col-1-top">
                                <img src="~/Assets/Home/images/carb.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-grid-1">
                        <div class="col-1 bottom">
                            <div class="col-1-top">
                                <img src="~/Assets/Home/images/fat.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-grid-1">
                        <div class="col-1 bottom">
                            <div class="col-1-top">
                                <img src="~/Assets/Home/images/fiber.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-6 col-grid-left">
                    <h3>Fats, Carbs, Protein, Fiber – What do we need?</h3>
                    <h5>Important Nutrients to Know</h5>
                    <p>
                        Fat, carbohydrate, protein, and fiber are known as ‘macronutrients’ because we need them in large amounts in our diets. These nutrients are responsible for providing us with energy as well as having a number of other specific functions. You’ll see these labeled on most food items.
                        While the macronutrient composition of your diet may not directly influence fat loss, it can affect your ability to adhere to a reduced-calorie diet.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--// s-grid2-->
    <!-- s-grid3 -->

