@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout_Home.cshtml"; 
}


<div class="s-banner">
    <!--banner -->

</div> <!--//banner -->
<!-- breadcrumbs -->


<div class="s-grid1">
    <div class="container">
        <div class="s-grid1-padding-w3ls">
            <h2>Shopping</h2>
            <div class="col-md-3 feature-grid text-center">
                <div class="feature-grid-one">
                    <a href="#" class="hi-icon hi-icon-archive"> <i class="fa fa-heart" aria-hidden="true"></i> </a>
                    <h4>Fashion</h4>
                    <p> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugi.</p>
                </div>
            </div>
            <div class="col-md-3 feature-grid text-center">
                <div class="feature-grid-one">
                    <a href="#" class="hi-icon hi-icon-archive"><i class="fa fa-shopping-bag" aria-hidden="true"></i> </a>
                    <h4>Destination</h4>
                    <p> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugi.</p>
                </div>
            </div>
            <div class="col-md-3 feature-grid text-center">
                <div class="feature-grid-one">
                    <a href="#" class="hi-icon hi-icon-archive"><i class="fa fa-tag" aria-hidden="true"></i> </a>
                    <h4>Boutique</h4>
                    <p> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugi.</p>
                </div>
            </div>
            <div class="col-md-3 feature-grid text-center">
                <div class="feature-grid-one">
                    <a href="#" class="hi-icon hi-icon-archive"><i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
                    <h4>New Trend</h4>
                    <p> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugi.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //s-grid1 -->
<!-- Shopping-grid2-->
<div class="s-grid2">
    <div class="s-grid2-padding-agileinfo">

        <div class="s-grid2-a">
            <div class="col-md-6 col-grid-left">
                <h3>There's no place like MRS Mall</h3>
                <h5>Lorem Ipsum as their default model text</h5>
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum  Ipsum as their default model text now use Lorem Ipsum as their default model text, packages and web page editors now use Lorem Ipsum now use Lorem Ipsum as their default model text, and a as their default model text, lorem ipsum' will uncover many</p>
            </div>
            <div class="col-md-6 col-grid-right">
                <div class="col-md-6 col-grid-1">
                    <div class="col-1 bottom">
                        <div class="col-1-top">
                            <img src="~/Assets/Home/images/44.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-1-bottom">
                            <div class="info-text">
                                <h5>Lara Smith</h5>
                                <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-grid-1">
                    <div class="col-1 bottom">
                        <div class="col-1-top">
                            <img src="~/Assets/Home/images/43.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-1-bottom">
                            <div class="info-text">
                                <h5>Lara Smith</h5>
                                <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-grid-1">
                    <div class="col-1 bottom">
                        <div class="col-1-top">
                            <img src="~/Assets/Home/images/42.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-1-bottom">
                            <div class="info-text">
                                <h5>Lara Smith</h5>
                                <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-grid-1">
                    <div class="col-1 bottom">
                        <div class="col-1-top">
                            <img src="images/41.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-1-bottom">
                            <div class="info-text">
                                <h5>Lara Smith</h5>
                                <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit enim.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="s-grid2-a">
            <div class="col-md-6 col-grid-right">

                <div class="col-md-6 col-grid-1">
                    <div class="col-1 bottom">
                        <div class="col-1-top">
                            <img src="~/Assets/Home/images/47.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-1-bottom">
                            <div class="info-text">
                                <h5>Lara Smith</h5>
                                <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit, nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-grid-1">
                    <div class="col-1 bottom">
                        <div class="col-1-top">
                            <img src="images/46.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-1-bottom">
                            <div class="info-text">
                                <h5>Lara Smith</h5>
                                <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit, nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-grid-1">
                    <div class="col-1 bottom">
                        <div class="col-1-top">
                            <img src="images/45.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-1-bottom">
                            <div class="info-text">
                                <h5>Lara Smith</h5>
                                <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit, nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-grid-1">
                    <div class="col-1 bottom">
                        <div class="col-1-top">
                            <img src="images/43.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-1-bottom">
                            <div class="info-text">
                                <h5>Lara Smith</h5>
                                <p>Sit accusamus, vel blanditiis iure minima ipsa molestias minus laborum velit, nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-6 col-grid-left">
                <h3>Make your Dream fulfil in MRS Mall</h3>
                <h5>Lorem Ipsum as their default model text</h5>
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum  Ipsum as their default model text now use Lorem Ipsum as their default model text, packages and web page editors now use Lorem Ipsum now use Lorem Ipsum as their default model text, and a as their default model text, lorem ipsum' will uncover many</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--// s-grid2-->
<!-- s-grid3 -->
<div class="s-grid3">
    <div class="container">
        <div class="s-grid3-padding">
            <h2>Select your shopping</h2>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </h6>

            <div class="col-md-6 col-sm-6 egrid">
                <div class="img">
                    <img src="images/s1.jpg" alt="">
                </div>
                <div class="textt">
                    <h3>JEWELLERY SHOP</h3>
                    <label class="eline"></label>
                    <p>Donec sed odio dui nulla vilae eli libem.Donec sed odio dui nulla vilae eli libem.</p>
                    <a href="#" data-toggle="modal" data-target="#myModal5">READ MORE</a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal5" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Jewellery Shop</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-6 col-sm-6 egrid">
                <div class="img">
                    <img src="images/s2.jpg" alt="">
                </div>
                <div class="textt">
                    <h3>BOUTIQUE</h3>
                    <label class="eline"></label>
                    <p>Donec sed odio dui nulla vilae eli libem.Donec sed odio dui nulla vilae eli libem.</p>
                    <a href="#" data-toggle="modal" data-target="#myModal6"> READ MORE</a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal6" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Boutique</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-6 col-sm-6 egrid">
                <div class="img">
                    <img src="images/s3.jpg" alt="">
                </div>
                <div class="textt">
                    <h3>FOOTWEAR TREASURE</h3>
                    <label class="eline"></label>
                    <p>Donec sed odio dui nulla vilae eli libem.Donec sed odio dui nulla vilae eli libem.</p>
                    <a href="#" data-toggle="modal" data-target="#myModal7">READ MORE</a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal7" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Footwear Treasure</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-6 col-sm-6 egrid">
                <div class="img">
                    <img src="~/Assets/Home/images/s4.jpg" alt="">
                </div>
                <div class="textt">
                    <h3>LEATHER WORLD</h3>
                    <label class="eline"></label>
                    <p>Donec sed odio dui nulla vilae eli libem.Donec sed odio dui nulla vilae eli libem.</p>
                    <a href="#" data-toggle="modal" data-target="#myModal8">READ MORE</a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal8" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4>Leather World</h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--// S-grid3 -->
<!--Footer-->
