@model WebDinhDuong.ModelView.BMIView

@{
    ViewBag.Title = "Bmi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double BMR = 0;
    double x = Convert.ToDouble(Model.Nguoidung.CanNang);
    double y = Convert.ToDouble(Model.Nguoidung.ChieuCao); 
    }
}

<div class="agileinfo_single">
    <h5>BMI</h5>
    <div class="col-md-4 agileinfo_single_left">
        <img id="example" src="~/Assets/Home/images/user.png" alt=" " class="img-responsive" />
    </div>
    <div class="col-md-8 agileinfo_single_right">

        <div class="w3agile_description">
            <h4>Description :</h4>
            <p>
                Chỉ số BMI: là chỉ số đo cân nặng của một người, công thức được áp dụng cho cả nam và nữ, công thức này chỉ áp dụng cho người trưởng thành (trên 18 tuổi), không áp dụng cho: phụ nữ mang thai, vận động viên ( vì vđv nhiều cơ bắp, ít mỡ), người già&nbsp;và&nbsp;chỉ số này có sự thay đổi giữa các quốc gia
            </p>
        </div>
        <div class="snipcart-item block">
            <div class="snipcart-thumb agileinfo_single_right_snipcart">
                <h4>Status: @Model.Tinhtrang </h4>
            </div>
            <div class="w3agile_description">

                <div class="frm-add" id="addfrm">
                    <div class="available">
                        <p>Your information :</p>
                        <ul>
                            <li>
                                <p>Height: @Model.Nguoidung.ChieuCao cm</p>
                            </li>
                            <li>
                                <p>Weight: @Model.Nguoidung.CanNang kg</p>
                            </li>
                            <li>
                                <p>BMI: @Model.BMI </p>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div id="wrapper">

            <main id="main" class="">
                <div class="snipcart-item block">
                    <div class="bmi">
                        @*@{

                    Double t = x / ((y / 100) * (y / 100));
                    t = Math.Round(t, 3);
                  Double BMR = 0;
                }*@

                        <p>Enter your age: </p> <br />
                        <input type="text" id="tuoi" value="0"> <br />
                        <br />

                        @if (Model.Nguoidung.TanSuatHoatDong == "Slow")
                        {
                            BMR = 1.2;
                        }

                        @if (Model.Nguoidung.TanSuatHoatDong == "Medium")
                        {
                            BMR = 1.55;
                        }
                        @if (Model.Nguoidung.TanSuatHoatDong == "High")
                        {
                            BMR = 1.725;
                        }
                        @if (Model.Nguoidung.GioiTinh == "Male")
                        {
                            <br> <button onclick="myFunction()">Lượng calo cần thiết</button> <br />
                            <input type="text" id="calo" value="">

                            <script>
                        function myFunction() {

                            var tuoi = parseFloat(document.getElementById("tuoi").value) ;

                            document.getElementById("calo").value = ((13.397 * @x) + (4.799 * @y) - (5.677 * tuoi) + 88.362)) *@BMR;

                        }
                            </script>
                        }

                        @if (Model.Nguoidung.GioiTinh == "Female")
                        {
                            <br><button onclick="myFunction()">Lượng calo cần thiết</button> <br />
                            <input type="text" id="calo" value=""><br />

                            <script>
                                    function myFunction() {

                                        var tuoi = parseFloat(document.getElementById("tuoi").value) ;

                                        document.getElementById("calo").value =(((9.247 * @x) + (3.098 * @y) - (4.330 * tuoi)+447.593))*@BMR;
                                    }
                            </script>
                        }

                    </div>
                    <div class="bmidanhgia">
                        <span style="color: #008000;">Chuẩn của Tổ chức Y tế thế giới (WHO):</span><br />
                        BMI < 18,5: người gầy<br />
                        BMI = 18,5 – 24,9: bình thường<br />
                        BMI = 25: thừa cân<br />
                        BMI = 25 – 29.9: tiền béo phì<br />
                        BMI = 30 – 34,9: người béo phì độ I<br />
                        BMI = 35 – 39.9: người béo phì độ II<br />
                        BMI = 40: người béo phì độ III<br />
                        <span style="color: #008000;"><b> Người châu Á ( IDI&WPRO) : </b></span><br />
                        BMI < 18,5: người gầy<br />
                        BMI = 18,5 – 22,9: bình thường<br />
                        BMI = 23: thừa cân<br />
                        BMI = 23 – 24.9: tiền béo phì<br />
                        BMI = 25 – 29,9: người béo phì độ I<br />
                        BMI = 30: người béo phì độ II<br />
                        BMI = 40: người béo phì độ III<br />

                    </div>

                    <div class="snipcart-thumb agileinfo_single_right_snipcart">
                        <h4>Tra cứu BMI:</h4>
                    </div>

                    <div id="content" class="blog-wrapper blog-single page-wrapper">
                        <div class="row row-large row-divided ">
                            <div class="large-9 col">
                                <article id="post-414" class="post-414 post type-post status-publish format-standard has-post-thumbnail hentry category-cong-cu-suc-khoe tag-cong-cu-suc-khoe tag-tinh-bmi post-ftoc">
                                    <div class="article-inner ">


                                        <div class="entry-content single-page">
                                            <div id="ftwp-postcontent">
                                                <h2></h2>
                                                <div id="ftwp-container-outer" class="ftwp-in-post ftwp-float-none" style="height: 57.5px;">

                                                </div>
                                                <p style="text-align: center;">
                                                    <iframe loading="lazy" id="bmiCal" style="width: 493px; height: 455px; border: 0; overflow: 0;" draggable="false" src="https://timthuocnhanh.com/wp-content/uploads/TinhBMI/tinhbmi.html?w=true&amp;v=1" width="300" height="150" frameborder="0" scrolling="no"></iframe>
                                                </p>
                                                <a title="Công thức tính chỉ số BMI" href="https://timthuocnhanh.com/cong-cu-suc-khoe/cong-thuc-tinh-chi-so-bmi.html" target="_blank" rel="noopener noreferrer">
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div><div class="post-sidebar large-3 col"><div id="secondary" class="widget-area " role="complementary"></div></div>
                        </div>
                    </div>
                    </div>
            </main>
        </div>



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/Assets/Food/js/jquery.min.js" type="text/javascript"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/Assets/Food/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/Assets/Food/js/menumaker.js" type="text/javascript"></script>
        <script type="text/javascript" src="/Assets/Food/js/jquery.sticky.js"></script>
        <script type="text/javascript" src="/Assets/Food/js/sticky-header.js"></script>
        <script type="text/javascript" src="/Assets/Food/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/Assets/Food/js/multiple-carousel.js"></script>

        <script type="text/javascript" src="/Assets/Food/js/date.js"></script>
        <script type="text/javascript" src="/Assets/Food/js/jquery-ui.js"></script>

    </div>
    <div class="clearfix"> </div>
</div>
