@model WebDinhDuong.Models.NguoiDung
@*@{
    //var relatedProducts = (List<WebDinhDuong.Models.NguoiDung>)ViewBag.RelatedProducts;
    var user = (List<WebDinhDuong.Models.NguoiDung>)ViewBag.listuser;
}*@

<body>
    <!-- top-bar -->
    Chỉ số BMI: là chỉ số đo cân nặng của một người, công thức được áp dụng cho cả nam và nữ, công thức này chỉ áp dụng cho người trưởng thành (trên 18 tuổi), không áp dụng cho: phụ nữ mang thai, vận động viên ( vì vđv nhiều cơ bắp, ít mỡ), người già&nbsp;và&nbsp;chỉ số này có sự thay đổi giữa các quốc gia
    <p>
        <span style="color: #008000;">
            <b>B.M.I = Cân nặng(kg)/Chiều cao^2 (m) </b>
        </span><br> <span style="color: #008000;">
            (Cân nặng kg chia cho chiều cao tính bằng m đã bình phương)
        </span>
    </p>
    <div id="wrapper">

        <main id="main" class="">
            <div id="content" class="blog-wrapper blog-single page-wrapper">
                <div class="row row-large row-divided ">
                    <div class="large-9 col">
                        <article id="post-414" class="post-414 post type-post status-publish format-standard has-post-thumbnail hentry category-cong-cu-suc-khoe tag-cong-cu-suc-khoe tag-tinh-bmi post-ftoc">
                            <div class="article-inner ">


                                <div class="entry-content single-page">
                                    <div id="ftwp-postcontent">
                                        <h2></h2>
                                        <div id="ftwp-container-outer" class="ftwp-in-post ftwp-float-none" style="height: 57.5px;">

                                        </div>
                                        <p style="text-align: center;">
                                            <iframe loading="lazy" id="bmiCal" style="width: 493px; height: 455px; border: 0; overflow: 0;" draggable="false" src="https://timthuocnhanh.com/wp-content/uploads/TinhBMI/tinhbmi.html?w=true&amp;v=1" width="300" height="150" frameborder="0" scrolling="no"></iframe>
                                        </p>
                                        <a title="Công thức tính chỉ số BMI" href="https://timthuocnhanh.com/cong-cu-suc-khoe/cong-thuc-tinh-chi-so-bmi.html" target="_blank" rel="noopener noreferrer">
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </article>
                    </div><div class="post-sidebar large-3 col"><div id="secondary" class="widget-area " role="complementary"></div></div>
                </div>
            </div>
            <div class="bmi">
                @{
                    Double x = Convert.ToDouble(Model.CanNang);
                    Double y = Convert.ToDouble(Model.ChieuCao);
                    Double t = x / ((y / 100) * (y / 100));
                    t = Math.Round(t, 3);
                  Double BMR = 0;
                }
                <p>Chiều cao hiện tại của bạn: @Model.ChieuCao </p><br />
                <p> Cân nặng hiện tại : @Model.CanNang </p><br />
                <span style="color:red"> BMI : @t</span><br />
                <br />
                <p>Nhập độ tuổi của bạn</p> <br />
                <input type="text" id="tuoi" value=""> <br />
                <br />

                @if (Model.TanSuatHoatDong == "Ít hoặc không")
                {
                    BMR = 1.2;
                }
                @if (Model.TanSuatHoatDong == "Nhẹ")
                {
                    BMR = 1.375;
                }
                @if (Model.TanSuatHoatDong == "Vừa phải")
                {
                    BMR = 1.55;
                }
                @if (Model.TanSuatHoatDong == "Nhiều")
                {
                    BMR = 1.725;
                }
                @if (Model.TanSuatHoatDong == "Nặng")
                {
                    BMR = 1.9;
                }
                @if (Model.GioiTinh == "Nam")
                {
                   <br /> <button onclick="myFunction()">Lượng calo cần thiết</button> <br />
                    <input type="text" id="calo" value="">
                    <br />

                    <script>
                    function myFunction() {

                        var tuoi = parseFloat(document.getElementById("tuoi").value) ;

                        document.getElementById("calo").value = ((13.397 * @x) + (4.799 * @y) - (5.677 * tuoi) + 88.362)) *@BMR;


                    }
                    </script>
                }
                @if(Model.GioiTinh == "Nữ"){
                <button onclick="myFunction()">Lượng calo cần thiết</button> <br />
                <input type="text" id="calo" value=""><br />

                <script>
                    function myFunction() {

                        var tuoi = parseFloat(document.getElementById("tuoi").value) ;

                        document.getElementById("calo").value =(((9.247 * @x) + (3.098 * @y) - (4.330 * tuoi)+447.593))*@BMR;


                    }
                </script>
                }








            </div>
            <div class="bmidanhgia">
                <span style="color: #008000;">Chuẩn của Tổ chức Y tế thế giới (WHO):</span><br />
                BMI < 18,5: người gầy<br />
                BMI = 18,5 – 24,9: bình thường<br />
                BMI = 25: thừa cân<br />
                BMI = 25 – 29.9: tiền béo phì<br />
                BMI = 30 – 34,9: người béo phì độ I<br />
                BMI = 35 – 39.9: người béo phì độ II<br />
                BMI = 40: người béo phì độ III<br />
                <span style="color: #008000;"><b> Người châu Á ( IDI&WPRO) : </b></span><br />
                BMI < 18,5: người gầy<br />
                BMI = 18,5 – 22,9: bình thường<br />
                BMI = 23: thừa cân<br />
                BMI = 23 – 24.9: tiền béo phì<br />
                BMI = 25 – 29,9: người béo phì độ I<br />
                BMI = 30: người béo phì độ II<br />
                BMI = 40: người béo phì độ III[/vc_column][/vc_row]<br />

            </div>
        </main>






    </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Assets/Food/js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Assets/Food/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Assets/Food/js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Assets/Food/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="/Assets/Food/js/sticky-header.js"></script>
    <script type="text/javascript" src="/Assets/Food/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/Assets/Food/js/multiple-carousel.js"></script>

    <script type="text/javascript" src="/Assets/Food/js/date.js"></script>
    <script type="text/javascript" src="/Assets/Food/js/jquery-ui.js"></script>


</body>